body {
  background-image: url(graybg.png);
}
#name {
  font-size: 40px;
}

.section-header {
  font-size: 35px;
  color: black;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

header ul {
  list-style: none;
}

main {
  margin: 10px;
}

#background {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: url(bg.jpg) no-repeat 50% 50%;
  background-size: cover;

  z-index: 10;

  opacity: 0.5;
}

#header-content ul {
  list-style: none;
}

#header-content {
  position: relative;
  z-index: 11;
  text-align: center;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10%;
  margin-right: 10%;

  background: rgba(237, 231, 231, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(237, 231, 231, 0.28);
}

header img {
  border: 10px solid #ccc;
  border-radius: 50%;
  margin: 5px;
}

a {
  text-decoration: none black;
  color: black;
  transition: 1s;
}

a:hover {
  color: #4cb6f3;
}

h2#o_mnie {
  text-align: center;
}

.skills {
  width: 80%;
  margin: auto;
}

.skills span {
  border: 1px solid #237b80;
  padding: 5px 10px;
  margin: 2px 2px;
  color: #237b80;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
}

div.skills {
  padding-top: 10px;
}

h2 {
  font-size: large;
  text-align: left;
  margin-left: 10%;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

p {
  text-align: justify;
  margin: 30px;
}

#praca {
  margin-left: 50px;
  margin-right: 50px;
}

main {
  margin: auto;
  background-color: white;
}

ul > ol {
  list-style-type: circle;
}

#edu,
#lang,
#praca,
#hobby {
  width: 100%;
  align-items: center;
  padding-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10%;
  padding-right: 10%;
}

.obramowanie {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

div.row {
  margin-left: 5%;
  margin-right: 5%;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
}

#o_mnie,
#doswiadczenie {
  padding-top: 70px;
}

nav {
  background-color: rgba(95, 188, 211, 0.7);
}
