.circle {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.ja {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0,5em;
}

.js .letter {
    display: inline-block;
    line-height: 1em;
}